._*
*.zwc
*.compile
*.swp
.netrwhist
.jupyterlab-workspace
*workspaces*
.history/Users/ngorse/.dotfiles/
zsh/plugins/*
00-homebrew/Brewfile.lock.json
*.bak
*.zip
*/archive/*
*.old
*.old*
zsh/.zcomp*
*/*.compile
zsh/.zsh_sessions*
zsh/.zsh_history
